@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body
{
   background-color: antiquewhite;

}
*{

	margin: 0;
	padding: 0;
}

nav{

	font-family: 'Ubuntu', sans-serif;
}

nav ul{

	display: flex;
	align-items: center;
	list-style-type: none;
	height: 69px;
	background-color: black;
	color: white;
}
nav ul li{
	padding: 0 12px;
}
.brand img{

	width: 44px;
	padding: 0 10px;
}
#myProgressBar{
	width: 80vw;
	text-align: center;
	cursor: pointer;
}
.brand{
	display: flex;
	align-items: center;
	font-weight: bolder;
	font-size: 1.3rem;
}

.container{
    min-height: 56vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-size: cover;

}

.bottom{
    position: sticky;
    bottom: 0;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;

   
}
.icons{
	margin-top: 14px;

}
.icons i{
	cursor: pointer;
}
.songItem{

	height: 50px;
	display: flex;
	background-color: white;
	

	color: black;
	margin: 12 px 0;
	justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
   
}
.songItem img{
	width: 43px;
	margin: 0 23px;	
}
.timestamp{

	margin: 0 23px;
	
}
.timestamp i{

	cursor: pointer;

}
.songItemcontainer{
    margin-top: 14px;
}
.songInfo{
	position: absolute;
	left: 9.6vw;
	 font-family: 'Varela Round', sans-serif;
}
.songInfo img{

	opacity: 0;
	transition: opacity ls ease-in;
}